@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply h-full bg-surface text-surface-foreground font-sans antialiased overflow-x-hidden;
  }
}